/***************************
Button Modules
***************************/
.btn {
    display: inline-block;
    background-image: none;
    border: 1px solid transparent;
    font-weight: bold;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    padding: 12px 30px;
    font-size: 1.313em;
    vertical-align: middle;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.btn-primary {
  background: #8DC63F;
  color: white;
  border-color: #8DC63F;
}
.btn-primary:hover {
  text-decoration: none;
  border-color: white;
  background: none;

 
}
.btn-nav {
  color: white;
}
  