/***************************
****************************
Theme Styles
****************************
***************************/
.bg-primary {
    background: $bg-primary;
}
.bg-secondary {
  background: $bg-secondary;
}
.bg-tertiary {
  background: $bg-tertiary;
}
.bg-quaternary {
  background: $bg-quaternary;
}
.bg-quinary {
  background: $bg-quinary;
}
  